/* Start BackEnd Layouts main */
.main {
    height: 100vh;
}
.sidebar {
    background: rgb(125, 125, 125);
    color: white;
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 10px;
}
.sidebar a:hover {
    background: #2e2e2e;
}
.active {
    background-color: #2e2e2e;
    border-right: solid 10px orange;
}
/* End BackEnd Layouts main */

/* Start BackEnd Dashboard */
.card-data {
    border: solid;
    padding: 20px 40px;
    color: #fff;
}
.card-data.book {
    background-color: teal;
}
.card-data.category {
    background-color: orangered;
}
.card-data.user {
    background-color: purple;
}
.card-data i {
    font-size: 60px;
}
.card-desc {
    font-size: 25px;
}
.card-count {
    font-size: 25px;
}
/* End BackEnd Dashboard */
